<!--  -->PART 2

In [18]:
# data from kaggle.com ('air-pollution' in 
# 'Resources folder')

In [9]:
import pandas as pd

# Health Impacts & Death Data

In [16]:
# read the csv
df = pd.read_csv("Resources/air-pollution/death-rates-from-air-pollution.csv")
df

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Rate),Deaths - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate),Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: Age-standardized (Rate),Deaths - Cause: All causes - Risk: Ambient ozone pollution - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,370.050474,30.822693,402.175651,6.581093
1,Afghanistan,AFG,1991,358.978418,29.826184,390.085258,6.267613
2,Afghanistan,AFG,1992,352.766453,29.202030,383.201196,5.926444
3,Afghanistan,AFG,1993,357.055923,29.429702,387.704919,5.860345
4,Afghanistan,AFG,1994,362.970439,29.813259,394.022027,6.065343
...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,143.477957,38.996842,183.044625,1.091220
6836,Zimbabwe,ZWE,2016,140.643245,37.585998,179.060638,1.231540
6837,Zimbabwe,ZWE,2017,137.448374,35.811023,174.048806,1.447558
6838,Zimbabwe,ZWE,2018,133.923031,34.932825,169.534057,1.407389
6839,Zimbabwe,ZWE,2019,130.508301,34.404599,165.724397,1.435934

In [10]:
# read the csv
df1 = pd.read_csv("Resources/air-pollution/disease-burden-by-risk-factor.csv")
df1

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number),...,DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: High LDL cholesterol - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Zinc deficiency - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,61720.058219,197049.343187,1.986290e+06,1.708694e+06,663575.469121,310177.824198,670056.509793,...,94406.717565,28130.503389,18453.028002,1.841529e+06,368120.250887,76413.873296,2126.187912,146352.771752,184149.100782,143037.542010
1,Afghanistan,AFG,1991,62191.602523,222485.786219,2.069430e+06,1.779058e+06,670934.569427,320839.934886,687930.679368,...,96652.397744,28464.364022,20531.099580,1.919544e+06,372702.685048,83459.009317,2741.145867,148548.448080,188899.766443,148112.800523
2,Afghanistan,AFG,1992,63325.234394,271585.194354,2.298508e+06,2.005481e+06,685869.859272,335451.577576,748159.931627,...,100583.278505,29182.429478,24164.955876,2.133595e+06,383044.266379,95694.184454,3732.054083,152365.470168,194698.048698,163113.847852
3,Afghanistan,AFG,1993,64873.624040,331279.278186,2.555748e+06,2.366581e+06,705695.943628,351943.243949,862717.780568,...,105191.805884,30120.104822,26870.387967,2.373299e+06,395832.846077,105355.900347,5601.761233,157201.574054,214913.903021,180597.540508
4,Afghanistan,AFG,1994,66452.067739,340745.132961,2.707120e+06,2.559192e+06,725499.978333,367981.285438,963305.495901,...,109624.026430,31057.426861,28280.627477,2.514445e+06,407919.388795,110864.383933,6591.110924,162079.206845,246066.040867,190782.712706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,7196.883376,65671.534114,6.534109e+05,4.945638e+05,288229.134690,261661.602676,63780.019141,...,53594.848406,29747.997758,67068.713385,5.201553e+05,87253.138875,76773.610378,496.813378,254297.172658,19442.227700,132720.833419
6836,Zimbabwe,ZWE,2016,7424.673391,62675.108624,6.419202e+05,4.892715e+05,293491.994322,267324.870999,58934.337502,...,54674.745670,30316.604977,66051.172018,5.121190e+05,89293.171029,76749.552289,498.188006,257688.560259,15954.196094,128623.752629
6837,Zimbabwe,ZWE,2017,7655.216366,60760.780558,6.253864e+05,4.729722e+05,297975.170930,271637.414894,55018.607164,...,55585.375525,30801.418652,64765.922307,5.016625e+05,91114.207679,76705.134732,491.272163,260584.249200,14143.229463,122945.068963
6838,Zimbabwe,ZWE,2018,7862.559712,57715.005016,6.095453e+05,4.531539e+05,303252.995416,276985.761601,53059.623942,...,56701.620285,31371.980893,63150.799837,4.889329e+05,93196.028566,76782.617198,455.911840,263968.056677,14170.808013,120112.453670
6839,Zimbabwe,ZWE,2019,8126.406128,56559.247125,6.003300e+05,4.422579e+05,309965.685854,283899.032660,51181.335896,...,58106.548639,32089.424061,62930.146460,4.800418e+05,95795.330925,77168.229396,431.915946,268873.306327,13749.489957,119444.164549

In [13]:
# read the csv
df2 = pd.read_csv("Resources/air-pollution/share-deaths-air-pollution.csv")
df2

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,21.328446
1,Afghanistan,AFG,1991,21.011770
2,Afghanistan,AFG,1992,21.192810
3,Afghanistan,AFG,1993,21.367169
4,Afghanistan,AFG,1994,21.094811
...,...,...,...,...
6835,Zimbabwe,ZWE,2015,10.976388
6836,Zimbabwe,ZWE,2016,11.021700
6837,Zimbabwe,ZWE,2017,11.004911
6838,Zimbabwe,ZWE,2018,11.060707
6839,Zimbabwe,ZWE,2019,10.997446

In [14]:
# read the csv
df3 = pd.read_csv("Resources/air-pollution/death-rates-total-air-pollution.csv")
df3

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,402.175651
1,Afghanistan,AFG,1991,390.085258
2,Afghanistan,AFG,1992,383.201196
3,Afghanistan,AFG,1993,387.704919
4,Afghanistan,AFG,1994,394.022027
...,...,...,...,...
6835,Zimbabwe,ZWE,2015,183.044625
6836,Zimbabwe,ZWE,2016,179.060638
6837,Zimbabwe,ZWE,2017,174.048806
6838,Zimbabwe,ZWE,2018,169.534057
6839,Zimbabwe,ZWE,2019,165.724397

In [15]:
# read the csv
df4 = pd.read_csv("Resources/air-pollution/number-of-deaths-by-risk-factor.csv")
df4

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number),...,Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2835,11483,1063,1354,4854,1820,4336,...,5636,2879,4328,1068,407,138,730,21,734,282
6836,Zimbabwe,ZWE,2016,2781,11663,1082,1383,4915,1854,4244,...,5849,2798,4295,1042,415,101,674,20,700,275
6837,Zimbabwe,ZWE,2017,2700,11819,1098,1409,4992,1883,4193,...,6047,2744,4251,1007,424,82,629,19,678,267
6838,Zimbabwe,ZWE,2018,2669,12002,1117,1439,5044,1917,4013,...,6248,2608,4153,969,434,85,607,17,644,261
6839,Zimbabwe,ZWE,2019,2680,12241,1140,1475,5156,1960,3914,...,6475,2531,4113,963,438,81,585,16,631,259

In [17]:
# data from kaggle.com ('outdoor-air-pollution'in 
# 'Resources folder')

In [19]:
# read the csv
df5 = pd.read_csv("Resources/outdoor-air-pollution/ambient-pollution-death-rates-2017-1990.csv")
df5

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: Age-standardized (Rate),Population (historical estimates),Continent,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: Age-standardized (Rate).1,Year.1
0,Abkhazia,OWID_ABK,2015,NaN,NaN,Asia,NaN,NaN
1,Afghanistan,AFG,1990,37.403786,12412311.0,NaN,61.945127,2019.0
2,Afghanistan,AFG,1991,36.093797,13299016.0,NaN,61.945127,2019.0
3,Afghanistan,AFG,1992,35.128474,14485543.0,NaN,61.945127,2019.0
4,Afghanistan,AFG,1993,35.290047,15816601.0,NaN,61.945127,2019.0
...,...,...,...,...,...,...,...,...
56390,Zimbabwe,ZWE,1988,NaN,9849129.0,NaN,35.840532,2019.0
56391,Zimbabwe,ZWE,1989,NaN,10153852.0,NaN,35.840532,2019.0
56392,Zimbabwe,ZWE,2020,NaN,14862927.0,NaN,35.840532,2019.0
56393,Zimbabwe,ZWE,2021,NaN,15092171.0,NaN,35.840532,2019.0
56394,Åland Islands,ALA,2015,NaN,NaN,Europe,NaN,NaN

In [20]:
# read the csv
df6 = pd.read_csv("Resources/outdoor-air-pollution/death-rate-from-pm25-vs-pm25-concentration.csv")
df6

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate),"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,30.822693,65.486794,12412311.0,NaN
2,Afghanistan,AFG,1991,29.826184,NaN,13299016.0,NaN
3,Afghanistan,AFG,1992,29.202030,NaN,14485543.0,NaN
4,Afghanistan,AFG,1993,29.429702,NaN,15816601.0,NaN
...,...,...,...,...,...,...,...
56546,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
56547,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
56548,Zimbabwe,ZWE,2020,NaN,NaN,14862927.0,NaN
56549,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56550,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [22]:
# read the csv
df6 = pd.read_csv("Resources/outdoor-air-pollution/death-rate-from-pm25-vs-pm25-concentration.csv")
df6

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate),"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,30.822693,65.486794,12412311.0,NaN
2,Afghanistan,AFG,1991,29.826184,NaN,13299016.0,NaN
3,Afghanistan,AFG,1992,29.202030,NaN,14485543.0,NaN
4,Afghanistan,AFG,1993,29.429702,NaN,15816601.0,NaN
...,...,...,...,...,...,...,...
56546,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
56547,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
56548,Zimbabwe,ZWE,2020,NaN,NaN,14862927.0,NaN
56549,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56550,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [24]:
# read the csv
df7 = pd.read_csv("Resources/outdoor-air-pollution/death-rates-from-air-pollution.csv")
df7

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Rate),Deaths - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate),Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: Age-standardized (Rate),Deaths - Cause: All causes - Risk: Ambient ozone pollution - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,370.050474,30.822693,402.175651,6.581093
1,Afghanistan,AFG,1991,358.978418,29.826184,390.085258,6.267613
2,Afghanistan,AFG,1992,352.766453,29.202030,383.201196,5.926444
3,Afghanistan,AFG,1993,357.055923,29.429702,387.704919,5.860345
4,Afghanistan,AFG,1994,362.970439,29.813259,394.022027,6.065343
...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,143.477957,38.996842,183.044625,1.091220
6836,Zimbabwe,ZWE,2016,140.643245,37.585998,179.060638,1.231540
6837,Zimbabwe,ZWE,2017,137.448374,35.811023,174.048806,1.447558
6838,Zimbabwe,ZWE,2018,133.923031,34.932825,169.534057,1.407389
6839,Zimbabwe,ZWE,2019,130.508301,34.404599,165.724397,1.435934

# Air Pollution Data

In [25]:
# read the csv
df8 = pd.read_csv("Resources/outdoor-air-pollution/emissions-of-air-pollutants (1).csv")
df8

,Entity,Code,Year,PM₁₀ (Index),PM₂.₅ (Index),Non-methane volatile organic compounds (Index),Nitrogen oxides (Index),Ammonia (Index),Sulphur dioxide (Index)
0,United Kingdom,GBR,1970,100.00,100.00,100.00,100.00,NaN,100.00
1,United Kingdom,GBR,1971,92.64,89.16,100.42,99.05,NaN,94.61
2,United Kingdom,GBR,1972,82.63,79.12,97.92,98.10,NaN,90.76
3,United Kingdom,GBR,1973,86.54,80.72,103.75,103.17,NaN,93.22
4,United Kingdom,GBR,1974,78.72,75.10,100.00,95.87,NaN,85.52
...,...,...,...,...,...,...,...,...,...
73,United States,USA,2012,22.20,77.61,51.22,51.71,99.32,16.40
74,United States,USA,2013,22.18,77.37,50.06,49.41,99.32,15.87
75,United States,USA,2014,22.16,77.13,47.58,46.87,99.28,15.38
76,United States,USA,2015,21.91,75.89,46.66,43.22,99.22,12.18
77,United States,USA,2016,21.66,74.65,45.75,39.02,99.14,8.68

In [26]:
# read the csv
df9 = pd.read_csv("Resources/outdoor-air-pollution/emissions-of-air-pollutants.csv")
df9

,Entity,Code,Year,PM₁₀ (Index),PM₂.₅ (Index),Non-methane volatile organic compounds (Index),Nitrogen oxides (Index),Ammonia (Index),Sulphur dioxide (Index)
0,United Kingdom,GBR,1970,100.00,100.00,100.00,100.00,NaN,100.00
1,United Kingdom,GBR,1971,92.64,89.16,100.42,99.05,NaN,94.61
2,United Kingdom,GBR,1972,82.63,79.12,97.92,98.10,NaN,90.76
3,United Kingdom,GBR,1973,86.54,80.72,103.75,103.17,NaN,93.22
4,United Kingdom,GBR,1974,78.72,75.10,100.00,95.87,NaN,85.52
...,...,...,...,...,...,...,...,...,...
73,United States,USA,2012,22.20,77.61,51.22,51.71,99.32,16.40
74,United States,USA,2013,22.18,77.37,50.06,49.41,99.32,15.87
75,United States,USA,2014,22.16,77.13,47.58,46.87,99.28,15.38
76,United States,USA,2015,21.91,75.89,46.66,43.22,99.22,12.18
77,United States,USA,2016,21.66,74.65,45.75,39.02,99.14,8.68

In [28]:
# read the csv
df10 = pd.read_csv("Resources/outdoor-air-pollution/exposure-pollution-above-who-targets.csv")
df10

,Entity,Code,Year,"PM2.5 pollution, population exposed to levels exceeding WHO Interim Target-1 value (% of total)","PM2.5 pollution, population exposed to levels exceeding WHO Interim Target-2 value (% of total)","PM2.5 pollution, population exposed to levels exceeding WHO Interim Target-3 value (% of total)","PM2.5 air pollution, population exposed to levels exceeding WHO guideline value (% of total)"
0,Afghanistan,AFG,1990,99.958321,100.000000,100.0,100.0
1,Afghanistan,AFG,1995,99.959663,100.000000,100.0,100.0
2,Afghanistan,AFG,2000,99.966713,100.000000,100.0,100.0
3,Afghanistan,AFG,2005,99.931335,100.000000,100.0,100.0
4,Afghanistan,AFG,2010,99.974632,100.000000,100.0,100.0
...,...,...,...,...,...,...,...
2503,Zimbabwe,ZWE,2013,0.000000,16.486893,100.0,100.0
2504,Zimbabwe,ZWE,2014,0.000000,18.625311,100.0,100.0
2505,Zimbabwe,ZWE,2015,0.000000,7.219464,100.0,100.0
2506,Zimbabwe,ZWE,2016,0.000000,8.708582,100.0,100.0
2507,Zimbabwe,ZWE,2017,0.000000,8.066919,100.0,100.0

In [29]:
# read the csv
df11 = pd.read_csv("Resources/outdoor-air-pollution/PM25-air-pollution.csv")
df11

,Entity,Code,Year,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)"
0,Afghanistan,AFG,1990,65.486794
1,Afghanistan,AFG,1995,65.179512
2,Afghanistan,AFG,2000,64.922462
3,Afghanistan,AFG,2005,64.522682
4,Afghanistan,AFG,2010,65.245590
...,...,...,...,...
2503,Zimbabwe,ZWE,2013,23.111088
2504,Zimbabwe,ZWE,2014,22.805950
2505,Zimbabwe,ZWE,2015,21.733709
2506,Zimbabwe,ZWE,2016,21.726948
2507,Zimbabwe,ZWE,2017,22.251671

In [30]:
# read the csv
df12 = pd.read_csv("Resources/outdoor-air-pollution/pm-exposure-1990-2017.csv")
df12

,Entity,Code,Year,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)",Continent,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter).1",Year.1
0,Abkhazia,OWID_ABK,2015,NaN,Asia,NaN,NaN
1,Afghanistan,AFG,1990,65.486794,NaN,56.910809,2017.0
2,Afghanistan,AFG,1995,65.179512,NaN,56.910809,2017.0
3,Afghanistan,AFG,2000,64.922462,NaN,56.910809,2017.0
4,Afghanistan,AFG,2005,64.522682,NaN,56.910809,2017.0
...,...,...,...,...,...,...,...
2594,Zimbabwe,ZWE,2014,22.805950,NaN,22.251671,2017.0
2595,Zimbabwe,ZWE,2015,21.733709,Africa,22.251671,2017.0
2596,Zimbabwe,ZWE,2016,21.726948,NaN,22.251671,2017.0
2597,Zimbabwe,ZWE,2017,22.251671,NaN,22.251671,2017.0
2598,Åland Islands,ALA,2015,NaN,Europe,NaN,NaN

In [35]:
# read the csv
df13 = pd.read_csv("Resources/outdoor-air-pollution/share-above-who-pollution-guidelines.csv")
df13

,Entity,Code,Year,"PM2.5 air pollution, population exposed to levels exceeding WHO guideline value (% of total)"
0,Afghanistan,AFG,1990,100.0
1,Afghanistan,AFG,1995,100.0
2,Afghanistan,AFG,2000,100.0
3,Afghanistan,AFG,2005,100.0
4,Afghanistan,AFG,2010,100.0
...,...,...,...,...
2503,Zimbabwe,ZWE,2013,100.0
2504,Zimbabwe,ZWE,2014,100.0
2505,Zimbabwe,ZWE,2015,100.0
2506,Zimbabwe,ZWE,2016,100.0
2507,Zimbabwe,ZWE,2017,100.0